* {
  box-sizing: border-box;
}

.account-logo { 
  height: 100%;
}

.arrow {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.button-close {
  height: 46px;
  margin-top: 1em;
  position: relative;
  width: 46px;
}

.button-close::after {
  bottom: 0;
  color: #fff;
  content: "\2573";
  font-size: 20px;
  left: 0;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.center-vertically {
  justify-content: center;
}

.center-horizontally {
  align-items: center;
}

.circle-message {
  background-color: #21aeff;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  height: 25px;
  line-height: 25px;
  margin: 5px;
  text-align: center;
  width: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.content {
  display: flex;
}

.dropdown {
  float: left;
  height: 100%;
  overflow: hidden;
}

.dropbtn {
  background-color: inherit;
  border: none;
  color: white;
  display: flex;
  font-family: inherit;
  font-size: 16px;  
  justify-content: center;
  margin: 0;
  outline: none;
  padding: 25px 0px;
}

.dropbtn-color {
  background-color: rgb(46, 46, 46);
  padding: 0.3em;
}

.dropdown-content {
  background-color: rgb(46, 46, 46);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-sizing: border-box;
  color: white;
  display: none;
  flex-direction: column; 
  min-width: 180px;
  position: absolute;
  z-index: 1;
}

.dropdown-content-options {
  float: right; 
  right: 0; 
}

.dropdown-content a {
  color: white;
  display: block;
  float: none;
  padding: 6px 2em;
  text-align: left;
  text-decoration: none;
}

.dropdown-content a:hover {
  box-sizing: border-box;
  display: flex;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.element {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.element a {
  align-items: center;
  display: flex;
  width: 100%; 
}

.element-img {
  height: 25px;
  margin-right: 16px;
  width: 25px; 
}

.flex {
  display: flex;
}

hr {
  size: 1px;
  width: 70%; 
}

.left-container {
  align-items: center;
  height: 100%; 
}

#loupe {
  height: 14px;
  width: 14px; 
}

.mobile {
  display: none;
}

.right-container {
  align-items: center;
  display: flex;
  height: 100%;
}

.right-container-close-button {
  display: none;
}

.search-bar {
  justify-content: center;
  min-width: 400px;
}

.sell-button {
  border: solid 2px #25c1ff;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1em;
  padding: 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.topnav {
  background-color: #000;
  display: flex;
  height: 70px;
  justify-content: space-between;
  overflow: hidden;
}

.topnav .right-container a {
  color: white;
  font-size: 17px;
  padding-left: 1em;
  padding-right: 1em;
}

.topnav input[type=text] {
  border: none;
  border-radius: 5px 0px 0px 5px;
  font-size: 15px;
  left: 5px;
  padding: 1em;
  position: relative;
  width: 250px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
}

.topnav .search-container button {
  background-color: red;
  border: none;
  border-radius: 0px 5px 5px 0px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-right: 26px;
  padding: 1em;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
}

@media screen and (max-width: 600px) {
  .content,
  .desktop,
  .dropdown-content,
  .dropdown:hover .dropdown-content {
    display: none;
  }

  .dropdown-content-options {
    bottom: 0;
    flex-direction: row;
    height: 100%;
  }

  .element {
    padding-bottom: 0.5em;
  }

  .element a {
    margin-left: 1em;
  }

  hr {
    margin-right: 0;
    size: 1px;
    text-align: right;
    width: 85%; 
  }

  .mobile {
    align-items: flex-start;
    display: flex;
  }

  .sell-button {
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0.5em;
    padding: 5px 1.5em 5px 1.5em;
    width: 100%;
  }
}

@media screen and (max-width: 1051px) {
  .content {
    display: none;
  }
}
